main{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.qtd{
    text-align: end;
}

.answers{
    display: flex;
    flex-direction: column;
    gap: 5px
}

.finish button{
    text-align: center;
}